@font-face {
    font-family: 'UrbanistSemiBold';
    src: url('../fonts/UrbanistSemiBold/UrbanistSemiBold.eot');
    src: url('../fonts/UrbanistSemiBold/UrbanistSemiBold.eot') format('embedded-opentype'),
         url('../fonts/UrbanistSemiBold/UrbanistSemiBold.woff2') format('woff2'),
         url('../fonts/UrbanistSemiBold/UrbanistSemiBold.woff') format('woff'),
         url('../fonts/UrbanistSemiBold/UrbanistSemiBold.ttf') format('truetype'),
         url('../fonts/UrbanistSemiBold/UrbanistSemiBold.svg#UrbanistSemiBold') format('svg');
}

@font-face {
    font-family: 'UrbanistBold';
    src: url('../fonts/UrbanistBold/UrbanistBold.eot');
    src: url('../fonts/UrbanistBold/UrbanistBold.eot') format('embedded-opentype'),
         url('../fonts/UrbanistBold/UrbanistBold.woff2') format('woff2'),
         url('../fonts/UrbanistBold/UrbanistBold.woff') format('woff'),
         url('../fonts/UrbanistBold/UrbanistBold.ttf') format('truetype'),
         url('../fonts/UrbanistBold/UrbanistBold.svg#UrbanistBold') format('svg');
}
